/* .inputFilter {
    border: 1px solid black;
}

.containerFilter {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    margin: 24px;
    border-radius: 8px !important;
} */